/* static/css/styles.css */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex: 1;
}

.content {
    flex: 3;
    padding: 20px;
}

aside {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin: 10px 0;
}